@import "../abstract/variables.scss";

.home {
  &__img {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    @media screen and (max-width: $tabletL) {
      background-image: url("../../assets/home/background-home-tablet.jpg");
      height: 102.4rem;
    }
  }

  &__container {
    position: relative;
    width: 45rem;
     @media screen and (max-width:$tabletS) {
        width:unset;
        padding:0 3.5rem;
    }
  }

  &__description {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    @media screen and (max-width: $laptopL) {
      font-size: 1rem;
      top: 35%;
      width: 93%;
    }
    @media screen and (max-width: $laptopMs) {
      width: 96%;
    }
    @media screen and (max-width: $tabletL) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 4rem;
      width: 100%;
      top: 22%;
    }
    @media screen and (max-width: $tabletL) {
      gap: 10rem;
    }
    &-1 {
      color: $letter-color;
      text-transform: uppercase;
      font-size: 2.8rem;
      font-weight: 300;
      letter-spacing: 0.4rem;
      @media screen and (max-width: $laptopL) {
        font-size: 1.8rem;
      }
    }

    &-2 {
      color: $letter-color;
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 300;
      @media screen and (max-width: $laptopMs) {
        line-height: 3rem;
      }
    }
  }

  &__title {
    color: $white;
    font-size: 15rem;
    font-weight: 300;
    font-family: $secondaryFont;
    text-transform: uppercase;
    @media screen and (max-width: $laptopM) {
      font-size: 11rem;
    }
  }

  &__circle {
    color: $circleLetter;
    background-color: $white;
    width: 27.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $secondaryFont;
    font-size: 3.2rem;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 45rem;
      height: 45rem;
      border-radius: 50%;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.4s ease;
      @media screen and (max-width: $laptopL) {
        width: 32rem;
        height: 32rem;
      }
      @media screen and (max-width: $laptopMs) {
        width: 27rem;
        height: 27rem;
      }
      @media screen and (max-width: $laptopS) {
        width: 24rem;
        height: 24rem;
      }
    }

    &:hover::after {
      opacity: 0.1;
    }

    @media screen and (max-width: $laptopL) {
      align-self: center;
      height: 20rem;
      width: 20rem;
      font-size: 2.2rem;
    }
    @media screen and (max-width: $laptopMs) {
      height: 16rem;
      width: 16rem;
    }
  }

  
}
