@import "../../abstract/variables.scss";

.technologyInfo {
  position: absolute;
  display: flex;
  top: 27rem;
  left: 51rem;
  gap: 5rem;
  width: calc(100vw - 51rem);

  justify-content: space-between;

  &__img {
    width: 55rem;
  }

  &__title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $letter-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__technology {
    font-size: 5.6rem;
    color: $white;
    font-family: $secondaryFont;
  }

  &__description {
    color: $letter-color;
    font-size: 1.8rem;
    line-height: 3.2rem;
    width: 40rem;
  }
}