@import "../../abstract/variables.scss";

.crewInfo {
  position: absolute;
  bottom: 23rem;
  left: 9rem;
  @media screen and (max-width: $tabletL) {
    bottom: 56rem;
    display: flex;
    left: 8rem;
    flex-direction: column;
  }
  @media screen and (max-width: $tabletM) {
    left: unset;
    text-align: center;
  }
  &__position {
    color: $white;
    font-size: 3.2rem;
    font-family: $secondaryFont;
    text-transform: uppercase;
    opacity: 0.5;
  }
  &__name {
    color: $white;
    font-size: 5.6rem;
    font-family: $secondaryFont;
    text-transform: uppercase;
    margin-top: 1rem;
    @media screen and (max-width: $tabletM) {
      font-size: 3.6rem;
    }
  }
  &__description {
    color: $letter-color;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 400;
    width: 44.4rem;
    @media screen and (max-width: $tabletM) {
      width: unset;
      padding: 0 2rem;
    }
  }
  &__img {
    position: absolute;
    bottom: -23rem;
    left: calc(100vw / 2);
    width: calc(100vh / 2);
    @media screen and (max-width: $laptopL) {
      width: calc(100vw / 3);
      left: 55vw;
    }
    @media screen and (max-width: $tabletL) {
      width: 48vw;
      left: 9vw;
      bottom: -56rem;
    }
     @media screen and (max-width:$tabletM) {
      width: 26rem;
      left: 24vw;
        
    }
  }
}
