@mixin circleLogo {
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 50%;
        top: -50%;
        left: -50%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 50%;
        top: -50%;
        right: -50%;

    }
}

@mixin circleLogo2 {
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 50%;
        bottom: -50%;
        left: -50%;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 50%;
        bottom: -50%;
        right: -50%;
    }
}

@mixin underLineNav($bottom) {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    opacity: 0;
    bottom: $bottom;
    left: 0;
    transition: opacity 0.3s, background-color .3s ease-in;
}

@mixin underLineNavHover($bottom) {
    opacity: 1;
    content: "";
    background-color: $whiteCircle;
}

@mixin underLineSelected($bottom) {
    content: "";
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 0.2rem;
    background-color: $white;
    bottom: $bottom;
    left: 0;
}

@mixin breakLine($left,$width) {
    content: "";
    position: absolute;
    width: $width;
    height: 0.2rem;
    background-color: #fff;
    opacity: 0.3;
    left: $left;
    @content;
}