// Colors
$white: #fff;
$whiteCircle: #979797;

// Letter colors
$letter-color: #d0d6f9;
$circleLetter:#0B0D17;
// Logo colors
$firstLogoColor: #0b0d17;

// Fonts
$mainFont: "Barlow Condensed", sans-serif;
$secondaryFont: "Bellefair", serif;
