// Colors
$white: #fff;

$whiteCircle: #979797;
// Letter colors
$letter-color: #d0d6f9;
$circleLetter: #0b0d17;
// Logo colors
$firstLogoColor: #0b0d17;

$secondLogoColor: #4c4e56;

// Fonts
$mainFont: "Barlow Condensed", sans-serif;
$secondaryFont: "Bellefair", serif;

// breakpoints

// Laptop
$laptopLL:1480px;
$laptopL: 1200px;
$laptopM:1024px;
$laptopLs:918px;
$laptopS:768px;
