@import "../abstract/variables.scss";

.header {
  &__img {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
  }
  &__container {
    position: relative;
  }
  &__description {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    &-1 {
      color: $letter-color;
      text-transform: uppercase;
      font-size: 2.8rem;
      font-weight: 300;
      letter-spacing: 0.4rem;
    }
    &-2 {
      color: $letter-color;
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
  &__title {
    color: $white;
    font-size: 15rem;
    font-weight: 300;
    font-family: $secondaryFont;
    text-transform: uppercase;
  }
  &__circle {
    color: $circleLetter;
    background-color: $white;
    width: 27.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $secondaryFont;
    font-size: 3.2rem;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 45rem;
      height: 45rem;
      border-radius: 50%;
      background-color: $white;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
    &:hover::after {
      opacity: 0.1;
    }
  }
  &__container {
    width: 45rem;
  }
}
