@import "../abstract/variables.scss";

.navCrew {
  position: absolute;
  display: flex;
  bottom: 10rem;
  left: 10rem;
  width: 13.2rem;
  justify-content: space-evenly;
  @media screen and (max-width: $tabletL) {
    bottom: 51rem;
    left: 25rem;
  }
   @media screen and (max-width:$tabletM) {
      justify-content: center;
      width: 100%;
      left:unset;
      gap:2rem;
  }
  &__item {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $whiteCircle;
    opacity: 0.17;
    display: flex;
    @media screen and (max-width: $tabletL) {
      width: 1rem;
      height: 1rem;
    }
  }
  &__selected {
    background-color: $white;
    opacity: unset;
  }
}
