@import "../abstract/variables.scss", "../abstract/mixins.scss";

.NavPlanet {
  position: absolute;
  display: flex;
  top: 35%;
  right: 30%;
  width: 28.5rem;
  justify-content: space-evenly;
  z-index: 10;
  @media screen and (max-width: $tabletL) {
    top: 50rem;
    right:unset;
    width:100%;
    justify-content: center;
    gap:2rem;
  }
   @media screen and (max-width:$mobileL) {
      top:42rem;
  }
  &__item {
    color: $white;
    font-family: $mainFont;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    cursor: pointer;
    position: relative;

    &::after {
      @include underLineNav(-1rem);
    }

    &:hover::after {
      @include underLineNavHover(-1rem);
    }
  }

  &__selected {
    &::after {
      @include underLineSelected(-1rem);
    }
  }
}
