@import '../abstract/variables.scss', '../abstract/mixins.scss';

.NavPlanet {
    position: absolute;
    display: flex;
    top: 35%;
    right: 30%;
    width: 28.5rem;
    justify-content: space-evenly;

    &__item {
        color: $white;
        font-family: $mainFont;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 300;
        cursor: pointer;
        position: relative;

        &::after {
            @include underLineNav(-1rem);
        }

        &:hover::after {
            @include underLineNavHover(-1rem);
        }
    }

    &__selected {
        &::after {
            @include underLineSelected(-1rem);
        }
    }
}