@import "../../../sass/abstract/variables.scss", "../../abstract/mixins.scss";

.planet {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  top: 40%;
  @media screen and (max-width: $laptopL) {
    gap: 2rem;
  }
  &__img {
    width: 44.5rem;
    @media screen and (max-width: $laptopL) {
      width: 23.5rem;
      height: 23.5rem;
      align-self: center;
    }
  }

  &__text {
    width: 50rem;
    color: $white;
  }

  &__title {
    font-size: 10rem;
    font-family: $secondaryFont;
    text-transform: uppercase;
    @media screen and (max-width: $laptopL) {
      font-size: 8rem;
    }
  }

  &__description {
    font-size: 1.8rem;
    font-family: $mainFont;
    text-transform: capitalize;
    color: $letter-color;
    line-height: 3.5rem;
    width: 40rem;
    margin-bottom: 5.4rem;
    height: 15rem;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    position: relative;

    &-1 {
      font-size: 1.4rem;
      font-family: $mainFont;
      color: $letter-color;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      margin-bottom: 1rem;
    }

    &-2 {
      font-size: 2.8rem;
      font-family: $secondaryFont;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }

    &::before {
      @include breakLine(unset, 47.3rem) {
        top: -3rem;
      }
    }
  }
}
